STASH_URL=http://stash:9999/graphql
STASH_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.
STASHDB_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.
ADMIN_KEY=ssci_supersecretadminkey
B2_KEY_ID=backblaze_key_id
B2_APP_KEY=backblaze_key_key
B2_BUCKET_ID=backblaze_bucket_id
CDN_URL=https://public.example.com