x-user-defaults: &user-defaults
  restart: unless-stopped
  read_only: true
  user: 1000:1000
  logging:
    driver: "local"
    options:
      max-size: 1k
      max-file: 3

x-tmpfs: &tmpfs
  type: tmpfs
  target: /tmp
  tmpfs:
    size: 10485760 # 10M

services:
  stash_scrape:
     container_name: stash_scrape
     image: ghcr.io/feederbox826/stash-s6:develop
     << : *user-defaults
     environment:
       - HTTP_PROXY="http://gluetun:8888"
     volumes:
       - /home/stash/app/stash/pip:/pip-install:rw
       - /home/stash/app/stash/config:/config:rw
       - << : *tmpfs
  mongodb:
    container_name: mongodb
    image: mongo:8
    << : *user-defaults
    volumes:
      - /home/stash/app/mongodb:/data/db:rw
      - << : *tmpfs
  gluetun:
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file: "gluetun.env"
  caddy:
    image: caddy:2
    container_name: caddy
    << : *user-defaults
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /home/stash/app/caddy/data:/data:rw
      - /home/stash/app/caddy/config:/config:rw
      - /home/stash/app/caddy/caddy:/etc/caddy:ro