x-user-defaults: &user-defaults
  restart: unless-stopped
  read_only: true
  user: 1000:1000
  logging:
    driver: "local"
    options:
      max-size: 1k
      max-file: 3

x-tmpfs: &tmpfs
  type: tmpfs
  target: /tmp
  tmpfs:
    size: 10485760 # 10M

services:
  stash:
     << : *user-defaults
     container_name: stash
     image: ghcr.io/feederbox826/stash-s6:develop
     environment:
       - HTTP_PROXY="http://gluetun:8888"
     volumes:
       - /home/stash/app/stash/pip:/pip-install:rw
       - /home/stash/app/stash/config:/config:rw
       - << : *tmpfs
  mongodb:
    << : *user-defaults
    container_name: mongodb
    image: mongo:8
    volumes:
      - /home/stash/app/mongodb:/data/db:rw
      - << : *tmpfs
    ports:
      - 127.0.0.1:27017:27017
  gluetun:
    container_name: gluetun
    image: qmcgaw/gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file: "gluetun.env"
  cdp:
    << : *user-defaults
    container_name: cdp
    image: docker.io/chromedp/headless-shell:latest
    network_mode: "service:gluetun"
  caddy:
    << : *user-defaults
    container_name: caddy
    image: caddy:2
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /home/stash/app/caddy/data:/data:rw
      - /home/stash/app/caddy/config:/config:rw
      - /home/stash/app/caddy/caddy:/etc/caddy:ro
  scrape_ci:
    << : *user-defaults
    container_name: scrape_ci
    image: ghcr.io/feederbox826/scrape-ci:latest
    env_file: "scrape_ci.env"